<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    

    <title>Campeonatos</title>
  </head>
  <body>
    <!-- Navbar - muestra el logo y el nombre del usuario logueado-->
    <nav class="navbar navbar-expand-sm">
      <div class="container-fluid">
        <div class="topnav-left">
          <a class="navbar-brand"><img class="img-responsive navbar-brand" id="logo" src="https://i.pinimg.com/564x/22/57/2b/22572b3af03d23d02d0d97af387e3476.jpg"></a>
          <a style="margin-right: 20px; text-decoration: none; color: white" routerLink="/ranking-publico"  ><b>Liga pública</b></a>
          <a style="margin-right: 20px; text-decoration: none; color: white" routerLink="/campeonatos">Campeonatos</a>
          <a style="margin-right: 20px; text-decoration: none; color: white" routerLink="/carreras">Carreras</a>
          <a style="margin-right: 20px; text-decoration: none; color: white" routerLink="/crear-campeonato">Crear campeonato</a>
          <a style="margin-right: 20px; text-decoration: none; color: white" routerLink="/crear-carrera">Crear carrera</a>
        </div>
    
        <div class="topnav-right">
          <a>Daniel Madriz - Admin</a>
        </div>
      </div>
    </nav>
  
  <!-- Doble columna -->
  <div class="row">

    <!-- Tabla que muestra los campeonatos existentes -->
    <div class="container">
        <h1 style="margin-top: 50px; width: 80%;">Campeonatos</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Presupuesto</th>
                  <th scope="col">Fecha de inicio</th>
                  <th scope="col">Fecha de fin</th>
                  <th scope="col">Hora de inicio</th>
                  <th scope="col">Hora de fin</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Llave única</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let campeonato of campeonatos">
                  <th scope="row">{{campeonato.nombre}}</th>
                  <td>{{campeonato.presupuesto}}</td>
                  <td>{{campeonato.fechaInicio}}</td>
                  <td>{{campeonato.fechaFin}}</td>
                  <td>{{campeonato.horaInicio}}</td>
                  <td>{{campeonato.horaFin}}</td>
                  <td>{{campeonato.reglasPuntuacion}}</td>
                  <td>{{campeonato.id}}</td>
              </tbody>
          </table>
    </div>
  </div>
  </body>
</html>