.navbar{
    background-color: #05063D;
    color: white;
}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 200px;
    margin-right: 20px;
}

.table{
    align-self: center;
    margin-left: 50px;
    margin-top: 50px;
}

.form-position{
    margin-top: 2%;
    margin-left: 15%;
    width: 650px;
}

.page-title{
    margin: 50px;
}